{% extends "base.html" %}

{% block title %}Home - {{ super() }}{% endblock %}

{% block content %}



    <div id="content">
        {% if role == 'Admin' %}
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>Name & ID</th>
                <th>Contact</th>
                <th>Approval Status</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
        {% for data in users_data %}
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{data[1]}}</p>
                  <p class="text-muted mb-0">#{{data[0]}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{data[2]}}</p>
              <p class="text-muted mb-0">{{data[3]}}</p>
            </td>
              <form method="post" action="{{ url_for('updateMember') }}">
            {% if data[5] != 'Pending' %}
            <td>
                <input type="hidden" name="approval" value="on"/>
              <span class="badge badge-success rounded-pill d-inline">{{data[5]}}</span>
            </td>
            {% else %}
            <td>
                <input type="checkbox" name="approval"/>
                <span class="badge badge-primary rounded-pill d-inline">{{data[5]}}</span>
            </td>
            {% endif %}
            <td>
                <div class="form-outline mb-4">

                        <input type="hidden" name="userID" value="{{data[0]}}"/>
                        <select class="select form-control" id="select" name="role">
                            <option value="Coordinator" {% if data[4] == "Coordinator" %}selected{% endif %}>Coordinator</option>
                            <option value="Student" {% if data[4] == "Student" %}selected{% endif %}>Student</option>
                        </select>
                        <input type="submit" value="Update User"/>
                </div>
            </td>
                  </form>

          </tr>
          {% endfor %}
        </tbody>
      </table>
        {% else %}
        <p>{{current_user.username}} is not authorized to access this page!</p>
        {% endif %}

    </div>



{% endblock %}

