{% extends "base.html" %}

{% block title %}Home - {{ super() }}{% endblock %}

{% block content %}
    <h2 class="ml-4">Explore Clubs & Societies</h2>

    <div class="d-flex w-100 justify-content-center pt-3 g-5 flex-wrap">
        {% for club in club_data %}
        <div class="card w-25 m-3">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <h5 class="card-title">{{club[1]}}</h5>
              <p class="card-text">{{club[2]}}</p>
              <a href="/explore/{{club[0]}}" class="btn btn-primary" data-mdb-ripple-init>View Club</a>
            </div>
        </div>
        {% endfor %}
        
    </div>
    
{% endblock %}

